<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>GEDAR</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/archive">Archive</a>
      <a mat-button [matMenuTriggerFor]="menu">Stock</a>
      <mat-menu #menu="matMenu">

        <a mat-menu-item href="/salle">Salle</a>
        <a mat-menu-item href="/raionage">Raionage</a>
        <a mat-menu-item href="/boitier">Boitier</a>
      </mat-menu>
      <a mat-list-item href="#">Conservation</a>
      
      <a mat-list-item href="#">Consultation</a>
      <a mat-list-item href="#">Transfers</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- pages -->
  <router-outlet></router-outlet>

</mat-drawer-container>
