<h1 mat-dialog-title> Ajouter Raionage </h1>
<div mat-dialog-content>
    <form [formGroup]="Form">

        <mat-form-field appearance="outline">
            <mat-label> Code</mat-label>
            <input formControlName="code" matInput placeholder="code">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>salles</mat-label>
            <mat-select formControlName="salle"  >
              <mat-option  *ngFor="let s of salles| async" [value]="s.url">
                {{s.nom}}
              </mat-option>
            </mat-select>
          </mat-form-field>

    </form>
    
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px ;" mat-raised-button color="primary" (click)="addRaionage()" >{{optionBtn}}</button>

</div>