<mat-form-field appearance="standard">
    <mat-label>Chercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <button mat-stroked-button color="warn" (click)="opendialog()">Ajouter</button> 
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
  
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)='editRaionage(row)' color="primery" >            
          <mat-icon>edit</mat-icon>
          </button>
  
          <button mat-icon-button (click) ='deleteRaionage(row.url)' color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click) = 'detailsB(row.url)'>Detais</button>
        </td>
        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[4]" aria-label="Select page of users"></mat-paginator>

<table>
  
<tr>
  <h1> Details Infos</h1> 
    <ul>
    <li *ngFor="let Row of Boitier$">
     <button>   {{Row.code}} </button>
    </li>
  </ul>
</tr>
</table>